# CS675 Introduction to Data Science - Project #3

**Aayushi Verma**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from prophet import Prophet
import datetime as dt

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("data.csv")

/var/folders/n9/3mjn__fd1xd66lc1zh9nlj0h0000gp/T/ipykernel_13326/3477112522.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv")

In [7]:
df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges,year,month,day
0,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,GOV/NYC/068,Yes,128800,7387.97,216.0,2808.0,5200.85,2010.0,1.0,26.0
1,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,GOV/NYC/068,Yes,115200,6607.87,224.0,2912.0,5036.47,2010.0,2.0,25.0
2,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,GOV/NYC/068,Yes,103200,5919.55,216.0,2808.0,5177.43,2010.0,3.0,26.0
3,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,GOV/NYC/068,Yes,105600,6057.22,208.0,2704.0,6002.82,2010.0,4.0,26.0
4,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,GOV/NYC/068,Yes,97600,5598.34,216.0,2808.0,5323.20,2010.0,5.0,24.0

In [3]:
df['Service End Date'] = pd.to_datetime(df['Service End Date'])

In [4]:
df['year'] = df['Service End Date'].dt.year
df['month'] = df['Service End Date'].dt.month
df['day'] = df['Service End Date'].dt.day

In [8]:
df['Consumption (KW)']

0         216.00
1         224.00
2         216.00
3         208.00
4         216.00
           ...
407026    150.48
407027    135.00
407028      0.00
407029      0.00
407030      0.00
Name: Consumption (KW), Length: 407031, dtype: float64

In [13]:
df2 = pd.DataFrame(df['Service End Date'],df['Consumption (KW)']).rename({'ds':'Service End Date','y':'Consumption (KW)'})

In [16]:
df2

                 Service End Date
Consumption (KW)
216.00                 2010-01-26
224.00                 2010-01-26
216.00                 2010-01-26
208.00                 2010-05-24
216.00                 2010-01-26
...                           ...
150.48                        NaT
135.00                 2010-06-23
0.00                   2010-01-26
0.00                   2010-01-26
0.00                   2010-01-26

[407031 rows x 1 columns]

In [14]:
m = Prophet()

In [15]:
m.fit(df2)

ValueError: Dataframe must have columns "ds" and "y" with the dates and values respectively.